# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Instrumented libs
lib-cov

# Coverage directories
coverage/
*.lcov

# nyc output
.nyc_output

# Grunt
.grunt

# Bower
bower_components/

# node-waf
.lock-wscript

# Compiled binary addons
build/Release/

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# TypeScript cache
*.tsbuildinfo

# npm / Yarn / pnpm cache
.npm/
.pnpm/
.yarn/
node-cache/
.cacache/

# Lint caches
.eslintcache
.stylelintcache

# Microbundle caches
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# REPL history
.node_repl_history

# npm pack output
*.tgz

# Yarn Integrity
.yarn-integrity

# dotenv environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
.cache/
.parcel-cache/
dist/
out/
build/

# Framework outputs
.next/
.nuxt/
.vuepress/dist/
.docusaurus/
.temp/
.vitepress/

# Serverless
.serverless/

# FuseBox
.fusebox/

# DynamoDB Local
.dynamodb/

# TernJS port
.tern-port

# VSCode testing
.vscode-test/

# pnp files
.pnp.*
